managed_context/
test_suite_analysis/
test/
**/__pycache__
**/temp/
**/build/
**/jsoncpp/
**/paho.mqtt.c/
**/paho.mqtt.cpp/
**/credentials.json
**/saved_images

**/mqtt_to_influxdb.py
**/*.pt
**/*.pth
**/*.torchscript