[Unit]
Description=LTR390 Sensor Data Publisher Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/orangepi/aiot-platform-baseline/microservices/sensor_preprocessing/build/ltr_publisher
Restart=always
RestartSec=5s
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target